.clients-container{
    border: 2px solid red;
    margin: 10px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

    button{
        height: 40px;
        width: 40px;
    }

  
}

.client{
    display: flex;
}

.dash-header{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h3{
        font-size: 1.8rem;
    }
}

.dashboard-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

table{  
        margin: 20px;
        width: 75%;
        border: 2px solid black;
        th{
            border: 2px solid black;
        }
        td{
            font-size: 1.2rem;
            font-weight: bold;
        }
    }